@model OnlineCompiler.Models.ImportFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImportFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportedFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportedFile.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPublicFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPublicFile.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
