@model IEnumerable<OnlineCompiler.Models.ImportFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Imported Files</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Author
            </th>
            <th>
                Version
            </th>
            <th>
                Imported By
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if(item.UserId == Context.Session.GetInt32("UserId")){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportedFile.Name)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportDate)
                    @if(item.OriginalPublicFile != null && item.ImportDate < item.OriginalPublicFile.Share.Versions[item.OriginalPublicFile.Share.Versions.Count - 1].Version){
                        <span style="color: orange;">
                            New version released (@item.OriginalPublicFile.LastModified.ToString())
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportedBy)
                </td>
                <td>
                    <a asp-action="ManageProjects" asp-route-fileId="@item.Id" class="btn btn-primary">Use</a> 
                    <a asp-action="Delete" asp-route-fileId="@item.Id" class="btn btn-danger">Delete</a> 
                    @if(item.OriginalPublicFile != null && item.ImportDate < item.OriginalPublicFile.Share.Versions[item.OriginalPublicFile.Share.Versions.Count - 1].Version){
                       
                        <form asp-action="Update" method="post" style="display: inline;">
                            <input type="hidden" name="fileId" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">Update</button>
                        </form>
                    }
                </td>
            </tr>
            }
        }
    </tbody>
</table>